html {
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.page {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    margin: 0;
}

.l-wrapper {
    width: 19.4375rem;
    height: auto;
    margin: 4.5rem auto 3.9375rem auto;
    border-radius: 0.3125rem;
}

.l-container {
    width: inherit;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0.3125rem;
    box-shadow: 0rem 0.9375rem 1.875rem rgba(0, 81, 171, 0.148847);
}

.c-card {
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 0 0;
}

.c-card--white {
    border-radius: 0.3125rem 0.3125rem 0rem 0rem;
    background: white;
    color: hsl(218, 22%, 67%);
}

.c-card--prm-clr {
    background: hsl(179, 62%, 43%);
    color: white;
}

.c-card--prm-clr-alt {
    background: hsl(179, 48%, 52%);
    color: whitesmoke;
    border-radius: 0rem 0rem 0.3125rem 0.3125rem;
}

.c-card__title--prm-clr {
    color: hsl(179, 62%, 43%);
}

.c-card__title--scn-clr {
    color: hsl(71, 73%, 54%)
}

.c-card__title--lg {
    margin: 0.25rem 0rem 1.5rem 0rem;
    letter-spacing: -0.0156rem;
    line-height: 1.4375rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.c-card__title--md {
    margin: 0rem 0rem 1.125rem 0rem;
    letter-spacing: -0.0138rem;
    line-height: 1.3125rem;
    font-size: 1.125rem;
    font-weight: 700;
}

.c-card__title--sm {
    margin: 0.5rem 0rem 1rem 0rem;
    letter-spacing: -0.0119rem;
    line-height: 1.25rem;
    font-size: 0.9375rem;
    font-weight: 700;
}

.c-card__txt--md {
    margin: 0rem 0rem 0.5rem 0rem;
    letter-spacing: -0.0109rem;
    font-size: 0.875rem;
    line-height: 1.625rem;
    font-weight: 400;
}

.c-card__txt--lg {
    margin: 0rem 0rem 0.125rem 0rem;
    letter-spacing: -0.0125rem;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
}

.c-price {
    margin: 0.5rem 0rem 0.25rem 0rem;
    display: flex;
}

.c-price__amount {
    margin-right: 0.75rem;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -0.025rem;
    line-height: 2.3125rem;
}

.c-price__period {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: -0.0125rem;
    line-height: 1.625rem;
    margin-top: auto;
    margin-bottom: auto;
}

.c-btn {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1875rem;
    letter-spacing: -0.0125rem;
    background:  hsl(71, 73%, 54%);
    color: white;
    padding: 0.9375rem 0.75rem 0.875rem 0.75rem;
    margin: 1.625rem 0rem 0rem 0rem;
    box-shadow: 0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.0973011);
    border-radius: 0.3125rem;
}

.c-btn:hover {
    background:  hsl(71, 75%, 46%);
}

.l-list {
    list-style-type: none;
    padding-left: 0rem;
    margin: 0;
}

.l-list__item {
    letter-spacing: -0.0109rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    mix-blend-mode: normal;
    opacity: 0.75;
}

.c-footer { display: block;	}
.c-attribution { font-size: 0.6875rem; text-align: center; }
.c-attribution__link { color: hsl(228, 45%, 44%); }

@media only screen
  and (min-width: 23.4375rem) and
  (max-width: 43.6875rem) {

    .l-wrapper {
        width: auto;
        height: auto;
        margin: 4.5rem 2rem 3.875rem 2rem;
    }

    .l-container {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .c-card--white {
        width: 100%;
    }

    .c-card--prm-clr {
        width: 100%;
    }

    .c-card--prm-clr-alt {
        width: 100%;
    }
}


@media only screen
  and (min-width: 43.75rem) {

    .l-wrapper {
        width: 39.6875rem;
        margin: 10.1875rem auto 8.6875rem auto;
    }

    .l-container {
        margin: 0;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .c-card {
        padding: 2.5rem;
    }

    .c-card--white {
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        width: 100%;
    }

    .c-card--prm-clr {
        width: 50%;
        border-radius: 0rem 0rem 0rem 0.5rem;
        padding-bottom: 2.4375rem;
    }

    .c-card--prm-clr-alt {
        width: 50%;
        border-radius: 0rem 0rem 0.5rem 0rem;
        padding-bottom: 2.4375rem;
    }

    .c-card__title--lg {
        margin: 0rem 0rem 1.5rem 0rem;
        letter-spacing: -0.0187rem;
        line-height: 1.75rem;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .c-card__title--sm {
        margin: 0rem 0rem 0.6875rem 0rem;
        letter-spacing: -0.0141rem;
        line-height: 1.3125rem;
        font-size: 1.125rem;
        font-weight: 700;
    }

    .c-card__txt--md {
        margin: 0;
        letter-spacing: -0.0125rem;
        font-size: 1rem;
        line-height: 1.625rem;
        font-weight: 400;
    }
}